USE [master]
GO

/****** Object:  Database [ProductManagement]   *****/
-- Kiểm tra nếu DB tồn tại thì xóa đi tạo lại cho sạch (Optional)
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'ProductManagement_SP24_357468')
DROP DATABASE [ProductManagement_SP24_357468]
GO

CREATE DATABASE [ProductManagement_SP24_357468]
GO

USE [ProductManagement_SP24_357468]
GO

/****** Object:  Table [dbo].[tblUsers] ******/
CREATE TABLE [dbo].[tblUsers](
	[userID] [nvarchar](50) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[roleID] [nvarchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Inserting Data for Users (5 Users) ******/
INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID], [status]) VALUES (N'admin', N'Toi la admin', N'1', N'AD', 1)
INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID], [status]) VALUES (N'Hoadnt', N'Minh Thu', N'1', N'AD', 1)
INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID], [status]) VALUES (N'SE170969', N'Nguyen Gia Tin', N'123', N'US', 1)
-- User mới thêm vào

/****** Object:  Table [dbo].[tblProduct] ******/
CREATE TABLE [dbo].[tblProduct](
	[id] [char](5) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[price] [float] NOT NULL,
	[size] [nvarchar](50) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_tblFashion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING OFF
GO

/****** Inserting Data for Products (20 Products) ******/
-- Dữ liệu gốc
INSERT [dbo].[tblProduct] ([id], [name], [description], [price], [size], [status]) VALUES (N'F-001', N'Ao dai', N'Ao dai co dien truyen thong', 200, N'M', 1)
INSERT [dbo].[tblProduct] ([id], [name], [description], [price], [size], [status]) VALUES (N'F-002', N'Ao so mi nam', N'Ao so mi cong so trang nha', 300, N'L', 0)

-- Dữ liệu mới thêm vào
INSERT [dbo].[tblProduct] ([id], [name], [description], [price], [size], [status]) VALUES (N'F-003', N'Quan Jean Nam', N'Quan jean ong dung', 450, N'32', 1)
